body, #root, .App {
    height: 100vh;
    margin: 0;
}

.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  ul {
    list-style: none;
  }
  li {
    margin: 10px 0;
  }
  form {
    margin: 20px 0;
  }
  .examples-container {
      display: flex;
      justify-content: space-evenly;
      height: 100%;
      align-items: center;
  }

  .counter__container {
    display: flex;
    flex-direction: column;
    margin: 1em;
    padding: 1em;
    
  }
  .counter__container--block {
    @extend .counter__container;
    border: 1px solid lightgray;
    border-radius: 15px;
    div {
        padding: 0.5em;
    }
  }

  .text__container {
    margin-bottom: 1em;
  }

  .custom__counter__container {
    
    button {
        margin: 1em;
    }
  }

  .text__wrapper {
    width: 33%;
    text-align: center;
    margin: 0 auto;
  }
  