body, #root, .App {
    height: 100vh;
    margin: 0;
}

.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  ul {
    list-style: none;
  }
  li {
    margin: 10px 0;
  }
  form {
    margin: 20px 0;
  }
  .examples-container {
      display: flex;
      justify-content: space-evenly;
      height: 100%;
      align-items: center;

  }
  